body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}
.w3-third img{margin-bottom: -6px; opacity: 0.8; cursor: pointer}
.w3-third img:hover{opacity: 1}
/*--Full height image header--*/
.bgimg-0 {
    background-position: center;
    background-size: cover;
    background-image: url("img/bg/0.jpg");
    min-height: 100%;
}
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("img/bg/1.jpg");
    min-height: 100%;
}
/*-----------------------------*/
.small {
    line-height: 0.5;
}
.text_tab{
    text-indent: 50px;
}
/*-----------------------------*/
* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;}
.mySlides {display:none}

/*--Slideshow container--*/
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/*--Caption text--*/
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/*--Number text (1/3 etc)--*/
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/*--The dots/bullets/indicators--*/
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/*--Fading animation--*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*--On smaller screens, decrease text size--*/
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*-----------------------------*/

.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}